.formContainer {
  max-width: 600px;
  width: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px 30px;
}

.formTitle {
  position: relative;
  display: inline-block;
  line-height: 45px;
}
.formTitle::before {
  content: '';
  height: 4px;
  border-radius: 2px;
  width: 30%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  background-color: var(--clr-primary);
  transition: width 0.3s ease;
}

.formTitle:hover::before {
  width: 100%;
}

.formTitle {
  margin-bottom: 20px;
}

.form .input_group {
  width: 100%;
  margin-bottom: 10px;
}

.input_group input {
  width: 100%;
  height: 40px;
  outline: none;
  border-radius: 5px;
  padding-inline: 10px;
  border: 2px solid #000000;
  font-size: var(--font-300);
  font-weight: 300;
  margin-top: 5px;
}

.input_group textarea {
  width: 100%;
  height: 120px;
  outline: none;
  border-radius: 5px;
  border: 2px solid #000000;
  padding: 10px;
  font-size: var(--font-300);
  font-weight: 300;
  margin-top: 5px;
}

.fileInput {
  width: 100%;
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #ffffff;
  cursor: pointer;
  color: var(--clr-primary);
  border: 2px solid var(--clr-primary);
  font-size: 14px;
  border-radius: 4px;
  margin-top: 30px;
}

.submit {
  width: 100%;
  margin-top: 20px;
  height: 40px;
  font-size: 14px;
  background-color: var(--clr-primary);
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}
