@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: inherit;
  font-family: 'Poppins', sans-serif;
}

:root {
  --clr-primary: #66023c;
  --clr-secondary: #f9f871;
  --clr-green: #00e0d1;

  --clr-text-primary: #000000;
  --clr-text-secondary: #e7e7e799;

  --font-700: 32px;
  --font-500: 24px;
  --font-400: 18px;
  --font-300: 16px;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.wrap {
  flex-wrap: wrap;
}

h1,
.h1 {
  font-size: var(--font-700);
}

h2,
.h2 {
  font-size: var(--font-500);
}

h3,
.h3 {
  font-size: var(--font-400);
}

h4,
.h4 {
  font-size: var(--font-300);
}

.bold {
  font-weight: 700;
}

.medium {
  font-weight: 500;
}

.regular {
  font-weight: 400;
}

.light {
  font-weight: 300;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  padding: 10px 25px;
  border-radius: 20px;
  border: none;
  font-size: 14px;
  text-transform: none;
  text-decoration: none;
  cursor: pointer;
}

.btn_primary {
  background-color: var(--clr-secondary);
  color: var(--clr-primary);
  box-shadow: 1px 1px 15px var(--clr-text-primary);
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  text-shadow: 1px 1px 40px var(--clr-text-primary);
  transition: 0.3s ease;
}

.btn_primary:hover {
  box-shadow: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}
